body {
    background-color: black;
    color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
}

h2 {
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: 1fr repeat(10, 1fr);
    grid-template-rows: 2fr repeat(10, 1fr);
    padding: 40px 80px;
    min-height: 35vh;

}

.box > div {
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ship {
    background-color: grey;
}

.hit {
    color: red;
}

.miss {
    color:white;
}

.game-over {
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: black;
    padding: 50px 100px;
    border: 2px darkgreen solid;
    text-align: center;
}


.ship-label {
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap:5px;
}

.ship-label span {
    font-size: 10px;
}

.invalid span{
    color: red;
}

#submit-invalid {
    color: red;
    margin-left: 10px;
}

.valid span {
    color: green;
}

#start-box {
    background-color: black;
    color: green;
    font-weight: 600;
    padding: 30px;
    min-width: 780px;
}

form div {
    text-align: center;
    margin-top: 30px;
}



.vertical-front{
    border-top: 3px green solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.vertical-back {
    border-bottom: 3px green solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.horizontal-front {
    border-left: 3px green solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.horizontal-back {
    border-right: 3px green solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.vertical {
    border-left: 3px green solid;
    border-right: 3px green solid;
    width: 30%;
    justify-self: center;
    
}

.horizontal {
    border-top: 3px green solid;
    border-bottom: 3px green solid;
}