body {
    background-color: black;
    color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
}

h2 {
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: 1fr repeat(10, 1fr);
    grid-template-rows: 2fr repeat(10, 1fr);
    padding: 40px 80px;
    min-height: 35vh;

}

.box > div {
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ship {
    background-color: grey;
}

.hit {
    color: red;
    background-color: grey;
}

.miss {
    color: blue;
}

.game-over {
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: white;
    padding: 50px 100px;
    border: 2px black solid;
    text-align: center;
}


.ship-label {
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap:5px;
}

.ship-label span {
    font-size: 10px;
}

.invalid span{
    color: red;
}

#submit-invalid {
    color: red;
    margin-left: 10px;
}

.valid span {
    color: green;
}

#start-box {
    background-color: black;
    color: green;
    font-weight: 600;
    padding: 30px;
    min-width: 780px;
}

form div {
    text-align: center;
    margin-top: 30px;
}