h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 3vh);
    padding: 40px 80px;
}

.box > div {
    font-size: 20px;
    text-align: center;
}

.ship {
    background-color: grey;
}

.hit {
    color: red;
    background-color: grey;
}

.miss {
    color: blue;
}

.game-over {
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: white;
    padding: 50px 100px;
    border: 2px black solid;
    text-align: center;
}


.ship-label {
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    gap:5px;
}

.ship-label span {
    font-size: 10px;
}

.invalid span{
    color: red;
}

#submit-invalid {
    color: red;
    margin-left: 10px;
}

.valid span {
    color: green;
}